{% extends 'base.html' %}
{% block con %}
    {% load mathfilters%}



    <h1><b>{{ t.subject }}</b></h1>

    <div class="row mt-4">
        <div class="col-sm-8">
            <textarea class="form-control" style="height: 200px;" disabled>{{ t.content }}</textarea>
        </div>
        <div class="col-sm-4">
            <img src="{{ t.maker.getpic }}" width="100%">
            <div class="tex-center mt-3"><b>{{ t.maker }}</b></div>
        </div>
    </div>

    {% if user in t.voter.all %}
        <div class="row mt-4">
            {% for i in cset %}
                <div class="col-sm-4">
                    <b>{{ i.name }}</b>
                    <sup>{{ i.choicer.count |div:t.voter.count |mul:100|floatformat:2 }} % </sup>
                    <div class="progress mt-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ i.choicer.count |div:t.voter.count |mul:100|floatformat:2 }}%"></div>
                    </div>
                    <textarea class="form-control mt-3" style="height: 100px;" disabled>{{ i.comment }}</textarea>
                </div>
            {% endfor %}
        </div>

        <div class="mt-4 text-end">
            <a class="btn btn-danger" href="{% url 'vote:cancel' t.id %}">무르기</a>
        </div>
    {% else %}
        <form method="post" action="{% url 'vote:vote' t.id %}">
            {% csrf_token %}
            <div class="row mt-4">
                {% for i in cset %}
                    <div class="col-sm-4">
                        <input type="radio" name="cho" value="{{ i.id }}" {% if forloop.first %}checked{% endif %}><b>{{ i.name }}</b>
                        <textarea class="form-control mt-3" style="height: 100px;" disabled>{{ i.comment }}</textarea>
                    </div>
                {% endfor %}
            </div>

            <div class="mt-4 text-end">
                <button class="btn btn-dark">투표</button>
            </div>
        </form>
    {% endif %}


{% endblock %}