{% extends 'base.html' %}
{% block con %}

{% load mathfilters %}

    <h1>
        <b>BOARD</b>
    </h1>


    <div class="text-end">
        <a class="btn btn-dark" href="{% url 'board:create' %}">게시글 생성</a>
    </div>

    <table class=" mt-5 table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col" class="text-center">순번</th>
                <th scope="col" class="text-center">제목</th>
                <th scope="col">내용</th>
                <th scope="col" class="text-center">작성자</th>
                <th scope="col" class="text-center">좋아요</th>
            </tr>
        </thead>

        <tbody>
            {% for i in bset %}
                <tr>
                    <th scope="row" class="text-center">{{ bset.start_index|add:forloop.counter0 }}</th>
                    <td class="text-center">
                        <a href="{% url 'board:detail' i.id %}">{{ i.subject }}</a>
                    </td>
                    <td>{{ i.content | truncatewords:10 }}</td>
                    <td class="text-center">{{ i.writer }}</td>
                    <td class="text-center">{{ i.likey.count }}</td>
                </tr>
            {% empty %}
                <tr>
                    <th colspan="5" class="text-center">{% if kw %}검색 결과가 없습니다...{% else %}첫번째 게시글을 작성해 주세요{% endif %}</th>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <form>
        <div class="mt-4 mb-4 row">
            <div class="col-sm-2">
                <select class="form-select" name="cate">
                    <option value="sub" {% if cate == "sub" %} selected {% endif %}>제목</option>
                    <option value="wri" {% if cate == "wri" %} selected {% endif %}>작성자</option>
                    <option value="con" {% if cate == "con" %} selected {% endif %}>내용</option>
                </select>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="키워드를 입력하세요" name="kw" value="{{kw}}">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-dark" style="width:100%">검색</button>
            </div>
            <div class="col-sm-1">
                <a href="{% url 'board:index' %}"><button class="btn btn-dark" type="button" style="width:100%">리셋</button></a>
            </div>
        </div>
    </form>

    <style>
        a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
        a:hover {
            color: blue;
        }
    </style>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% if bset.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page=1&cate={{cate}}&kw={{kw}}">처음</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{bset.previous_page_number}}&cate={{cate}}&kw={{kw}}">이전</a>
                </li>
            {% else %}
                <li><button class="btn btn-danger" disabled>처음</button></li>
                <li><button class="btn btn-danger" disabled>이전</button></li>
            {% endif %}



            {% for i in bset.paginator.page_range %}
                {% if i >= bset.number|sub:4 and bset.number|add:5 >= i %}
                    <li class="page-item {% if bset.number == i %}active{% endif %}"><a class="page-link" href="{% url 'board:index' %}?page={{i}}&cate={{cate}}&kw={{kw}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}




            {% if bset.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{bset.paginator.num_pages}}&cate={{cate}}&kw={{kw}}">마지막</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{bset.next_page_number}}&cate={{cate}}&kw={{kw}}">다음</a>
                </li>
            {% else %}
                <li><button class="btn btn-danger" disabled>마지막</button></li>
                <li><button class="btn btn-danger" disabled>다음</button></li>
            {% endif %}

        </ul>
    </nav>













{% endblock %}